/*适配手机css统一位置*/
/* ipone5 */
@media screen and (max-width: 321px) {
    body {
        font-size:16px
    }
    body .p-div,.content{
        font-size: 12px !important;
    }
}
/* ipone6/7/8 */
@media screen and (min-width: 321px) and (max-width:400px) {
    body {
        font-size:17px
    }
}
/* iponeplus */
@media screen and (min-width: 400px) {
    body {
        font-size:19px
    }
}

